*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/*
/.idea/codeStyles/*
/sendmoney/build/*
/yapuae/build/*
/.idea/assetWizardSettings.xml
/authentication/build/*
/authentication/build
/coachmark/build
/household/build
/wallet/build
/splitbill/build
/send_money/*
/coachmark/*
/profile/*
/identityscanner_v2/build
/identityscanner/build
.DS_Store
/build
/captures
/app/stg/release
/.idea/project.xml
/.idea/codeStyles/Project.xml
.externalNativeBuild
app/~/tmp/full-r8-config.txt
/app/.cxx/*
/yapcore/.cxx/*
/yapuae/.cxx/*
/translation/.cxx/*
/sendmoney/.cxx/*
/networking/.cxx/*
/identityscanner_v2/.cxx/*
/household/.cxx/*
/security/.cxx/*
/security/build
.*yapuae/build
/app/live/release
/multicurrency/build/*
/app/yapinternal/release
/multicurrency
/qrcodereaderview/build/*
/.idea/gradle.xml
/fastlane/*
/wallet/build/*
wallet/src/main/res/raw/pepk_public_certificate.pem
wallet/src/main/res/raw/tav_private_key.pem
*.apk
*.json
wallet/src/main/res/raw/tav_private_key_apple.pem
