<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.yap.translation">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        tools:remove="android:debuggable"
        tools:replace="android:allowBackup">

    </application>
</manifest>